<div id="current-activity">
  <%= erb(:_current, :locals => {:activity => @activities['current']}) %>
</div>
<div class="clear"></div>

<div id="new-activity">
  <form id="new-activity-form">
    <table>
      <tr>
        <td class="activity"><input class="activity-name unfocused" type="text" name="activity[name]" /></td>
        <td class="tags"><input class="activity-tags unfocused" type="text" name="activity[tag_names]" /></td>
        <td><input id="start-tracking" type="submit" value="Start tracking" /></td>
      </tr>
    </table>
  </form>
</div>
<div class="clear"></div>

<div id="tabs" style="height: 100%;">
  <ul>
    <li><a href="#today-tab">Today</a></li>
    <li><a href="#week-tab">Week</a></li>
  </ul>
  <div id="today-tab">
    <%= erb(:_today, :locals => {:activities => @activities['today']}) %>
  </div>
  <div id="week-tab">
    <%= erb(:_week, :locals => {:activities => @activities['week']}) %>
  </div>
</div>
<div class="right" style="margin: 0.5em 0";>
  <button id="add-earlier-activity">Add earlier activity</button>
</div>

<script type="text/javascript">
  function resizeUI() {
    var h = $(window).height();
    var w = $(window).width();
    var t = $('#tabs');
    var outerH = h - t.offset().top - t.next().outerHeight(true);
    t.outerHeight(outerH);

    var paneH = t.height() - t.find('.ui-tabs-nav').outerHeight(true);
    t.find('.ui-tabs-panel').outerHeight(paneH);
  }
  function isSameDay(one, two) {
    return one.getFullYear() == two.getFullYear() &&
           one.getMonth() == two.getMonth() &&
           one.getDate() == two.getDate()
  }
  function updateUI(data) {
    $('#current-activity').html(data.current);
    $('#today-tab').html(data.today);
    $('#week-tab').html(data.week);
  }

  $(function() {
    $('#tabs').tabs();

    $('#new-activity-form').submit(function(e) {
      e.preventDefault();

      var form = $(this);
      var name = form.find('.activity-name');
      var tags = form.find('.activity-tags');
      var data = {
        'activity[name]': (name.hasClass('empty') ? "" : name.val()),
        'activity[tag_names]': (tags.hasClass('empty') ? "" : tags.val())
      };
      $.post('/activities', data, function(data, status) {
        if (data) {
          updateUI(data);
          form.find('.activity-name').val('').not(':focus').blur();
          form.find('.activity-tags').val('').not(':focus').blur();
        }
      }, 'json');
    });

    $('#new-activity-form .activity-name').focus(function() {
      var obj = $(this);
      if (obj.val() == "Activity") {
        obj.val('');
      }
      obj.removeClass('empty');
    }).blur(function() {
      var obj = $(this);
      if (!obj.val()) {
        obj.val('Activity');
        obj.addClass('empty');
      }
    }).blur();

    $('#new-activity-form .activity-tags').focus(function() {
      var obj = $(this);
      if (obj.val() == "Tags") {
        obj.val('');
      }
      obj.removeClass('empty');
    }).blur(function() {
      var obj = $(this);
      if (!obj.val()) {
        obj.val('Tags');
        obj.addClass('empty');
      }
    }).blur();

    $('#activity-dialog').dialog({
      autoOpen: false,
      width: 'auto',
      title: 'Add earlier activity',
      buttons: {
        "Cancel": function() {
          $(this).dialog('close');
        },
        "Save": function() {
          $(this).find('form').submit();
        }
      }
    }).find('form').submit(function(e) {
      e.preventDefault();
      f.parent().dialog('close');
    }).find('input').keydown(function(e) {
      if (e.keyCode == 13) {
        $(this).closest('form').submit();
      }
    });

    $('.stop-tracking').live('click', function(e) {
      e.preventDefault();
      $.get('/activities/current/stop', function(data) {
        updateUI(data);
      }, 'json')
    });
    $('#add-earlier-activity').click(function(e) {
      //window.open("/activities/new", '_blank');
    });

    var resizeTimer = null;
    $(window).bind('resize', function() {
        if (resizeTimer) clearTimeout(resizeTimer);
        resizeTimer = setTimeout(resizeUI, 100);
    });
    resizeUI();
  });
</script>
