<div id="current-activity">
  <table>
    <tr>
      <td class="activity">No activity</td>
      <td class="tags">&nbsp;</td>
      <td class="time">&nbsp;</td>
      <td class="button">
        <button id="stop-tracking" disabled="disabled">Stop tracking</button>
      </td>
    </tr>
  </table>
</div>
<div class="clear"></div>

<div id="new-activity">
  <form id="new-activity-form">
    <table>
      <tr>
        <td class="activity"><input class="activity-name unfocused" type="text" name="activity[name]" /></td>
        <td class="tags"><input class="activity-tags unfocused" type="text" name="activity[tag_names]" /></td>
        <td><input id="start-tracking" type="submit" value="Start tracking" /></td>
      </tr>
    </table>
  </form>
</div>
<div class="clear"></div>

<div id="tabs" style="height: 100%;">
  <ul>
    <li><a href="#today-tab">Today</a></li>
    <li><a href="#week-tab">Week</a></li>
  </ul>
  <div id="today-tab">
    <ul id="today-times" class="times">
    </ul>
  </div>
  <div id="week-tab">
    <ul class="day-times">
      <li>
        <h3>Sunday</h3>
        <ul id="weekday-0-times" class="times">
        </ul>
        <div class="clear"></div>
      </li>
      <li>
        <h3>Monday</h3>
        <ul id="weekday-1-times" class="times">
        </ul>
        <div class="clear"></div>
      </li>
      <li>
        <h3>Tuesday</h3>
        <ul id="weekday-2-times" class="times">
        </ul>
        <div class="clear"></div>
      </li>
      <li>
        <h3>Wednesday</h3>
        <ul id="weekday-3-times" class="times">
        </ul>
        <div class="clear"></div>
      </li>
      <li>
        <h3>Thursday</h3>
        <ul id="weekday-4-times" class="times">
        </ul>
        <div class="clear"></div>
      </li>
      <li>
        <h3>Friday</h3>
        <ul id="weekday-5-times" class="times">
        </ul>
        <div class="clear"></div>
      </li>
      <li>
        <h3>Saturday</h3>
        <ul id="weekday-6-times" class="times">
        </ul>
        <div class="clear"></div>
      </li>
    </ul>
  </div>
</div>
<div class="right" style="margin: 0.5em 0";>
  <button id="add-earlier-activity">Add earlier activity</button>
</div>

<script type="text/javascript">
  function resizeUI() {
    var h = $(window).height();
    var w = $(window).width();
    var t = $('#tabs');
    var outerH = h - t.offset().top - t.next().outerHeight(true);
    t.outerHeight(outerH);

    var paneH = t.height() - t.find('.ui-tabs-nav').outerHeight(true);
    t.find('.ui-tabs-panel').outerHeight(paneH);
  }
  $(function() {
    $('#tabs').tabs();

    $('#new-activity-form').submit(function(e) {
      e.preventDefault();
      $.post('/activities', $(this).serialize(), function(data, status) {
        console.log(data);
      });
    });

    $('#new-activity-form .activity-name').focus(function() {
      var obj = $(this);
      if (obj.val() == "Activity") {
        obj.val('');
      }
      obj.removeClass('empty');
    }).blur(function() {
      var obj = $(this);
      if (!obj.val()) {
        obj.val('Activity');
        obj.addClass('empty');
      }
    }).blur();

    $('#new-activity-form .activity-tags').focus(function() {
      var obj = $(this);
      if (obj.val() == "Tags") {
        obj.val('');
      }
      obj.removeClass('empty');
    }).blur(function() {
      var obj = $(this);
      if (!obj.val()) {
        obj.val('Tags');
        obj.addClass('empty');
      }
    }).blur();

    $('#activity-dialog').dialog({
      autoOpen: false,
      width: 'auto',
      title: 'Add earlier activity',
      buttons: {
        "Cancel": function() {
          $(this).dialog('close');
        },
        "Save": function() {
          $(this).find('form').submit();
        }
      }
    }).find('form').submit(function(e) {
      e.preventDefault();
      f.parent().dialog('close');
    }).find('input').keydown(function(e) {
      if (e.keyCode == 13) {
        $(this).closest('form').submit();
      }
    });

    $('#add-earlier-activity').click(function(e) {
      window.open("/activities/new", '_blank');
    });

    var resizeTimer = null;
    $(window).bind('resize', function() {
        if (resizeTimer) clearTimeout(resizeTimer);
        resizeTimer = setTimeout(resizeUI, 100);
    });
    resizeUI();
  });
</script>
